.backgroundImg {
    height:300px;
    width:60%;
    background-repeat: no-repeat;
    margin-top:5%
}

.indexBackground {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:antiquewhite
}

.loginBox {
   background-color:burlywood;
   height:300px;
   width:40%;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   border-radius:10px;
   opacity:80%
}
.eachRow {
   display:flex;
   flex-direction:row;
   justify-content:center;
   margin-bottom:10px;
   margin-top:10px;
   align-items:center;
   width:100%;
   opacity:100%
}

.inputBox {
    Width: 300px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: Transparent;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    font-family: Consolas;
    transition: 0.4s;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 40%);
}
    .inputBox:focus-within {
        outline: none;
        border:none;
        box-shadow: 0px 0px 16px white;
    }

.hint {
    color:black;
    font-weight:bold;
    font-family:'Microsoft YaHei UI';
    font-size:18px;
}

.loginButton {
    color: black;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Microsoft YaHei';
    font-size: 20px;
    background-color: white;
    opacity: 100%;
    border: none;
    outline:none;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 40%);
    transition:0.6s;
}
    .loginButton:hover {
        transform:scale(1.1);
    }

.headStyle {
    background-color:lightgreen;
    width:100%;
    height:100px;
}

.headFont {
    color:ghostwhite;
    font-weight:bold;
    font-size:36px;
    font-family:'Microsoft YaHei UI';
    margin-left:3%;
}

.profilePlace1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    height: 500px;
    flex-wrap: wrap;
}

.profilePlace2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Microsoft JhengHei UI';
    font-size: 22px;
    justify-content: flex-start;
    align-items: flex-start;
}

.profilePlace3 {
    margin-bottom:26px;
}

.profileIcon {
    height:200px;
    width:200px;
    border-radius:50%;
    margin-bottom:40px;
    margin-top:40px;
}

.inspirationUI {
    display:flex;
    flex-direction:row;
    width:100%;
    height:500px;
    justify-content:center;
}

.inspirationContent {
    display:flex;
    flex-direction:column;
    height:500px;
    justify-content:flex-start;
    align-items:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    border:solid;
    border-color:aquamarine;
}

.detailUI {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
}

.teamNum {
    font-family:'Consolas';
    font-size:22px;
    margin-left:5%;
    margin-top:5px;
    font-weight:bolder;
}

.descriptionbox {
    width:80%;
    height:100px;
    border-radius:5px;
    border-color:black;
    border:solid;
}

.gridviewStyle {
    word-break: break-all;
    word-wrap: break-word;
    width: 800px;
    border-bottom: #808080 2px solid;
    border-left-style: none;
    border-right-style: none;
    border-top-style : none;
    font-family:'Microsoft YaHei UI';
}

.bt {
    margin-bottom: 40px;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    text-align: center;
    height: 40px;
    width: auto;
    background-color:cadetblue;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    user-select: none;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 40%);
    float: left;
    cursor: pointer;
    transition: 0.6s;
}

    .bt:hover {
        transform: scale(1.1);
    }

.starsize {
    height:28px;
    width:28px;
    border:none;
    outline:none;
}

.textboxStyle {
    height: 48px;
    width: 300px;
    border-radius: 8px;
    padding-left: 10px;
    transition: 0.4s;
    font-family: 'Segoe UI';
    font-size: 24px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 40%);
    outline: none;
    border: none;
}
    .textboxStyle:focus-within {
        box-shadow: 0px 0px 16px rgb(128 128 128 / 20%);
    }
